@import "../../../base.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: hidden;

  .container {
    width: 65%;
    height: 100vh;
    overflow-y: scroll;

    .sidebarOpener {
      display: none;
      position: absolute;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      z-index: 999;
      transition: border 600ms ease;
    }
    .sideBarOpen {
      border-right: 30px solid black;
      background-color: hotpink;
    }
    .sideBarClose {
      border-left: 30px solid hotpink;
      background-color: black;
    }
  }
  main {
    overflow-x: hidden;
    padding: 1rem;
    width: 100%;
    overflow-y: scroll;
  }
}

// -------------MEDIA---------------

@media (max-width: $TABLET) {
  .wrapper {
    main {
      padding: 0rem;
    }
  }
}

@media (max-width: $SCREENS) {
  .wrapper {
    main {
      padding: clamp(1.25rem, 2.5vw, 2rem);
    }
    .container {
      width: 100%;
      .sidebarOpener {
        display: block;
        top: 2rem;
        right: 2rem;
      }
    }
  }
}

@media (max-width: $MOBILE) {
  .wrapper {
    main {
      padding: 0rem;
    }
    .container {
      .sidebarOpener {
        top: 1.15rem;
        right: 1.15rem;
      }
    }
  }
}
