@import '../../../base.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: hidden;

  .container {
    width: 65%;
    height: 99.9vh;
    overflow-y: scroll;
  }
  main {
    padding: 1rem;
    width: 100%;
    overflow-y: scroll;
  }
}

// -------------MEDIA---------------

@media (max-width: $TABLET){
  .wrapper{
    main{
      padding: 0rem;
    }
  }
}

@media(max-width: $SCREENS){
  .wrapper{
    main{
      padding: clamp(1.25rem,2.5vw,2rem);
    }
    .container{
      width:100%;
    }
  }
}

@media(max-width: $MOBILE){
  .wrapper{
    main{
      padding: 0rem;
    }
  }
}