@import '../../../base.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: hidden;
  .container {
    width: 65%;
    height: 99.9vh;
    overflow-y: scroll;
  }
  main {
    padding: 1rem;
    width: 100%;
    overflow-y: scroll;
  }
}
