@import '../../../base.scss';

.sideNavContainer {
  @include flex(column, flex-start, center);
  background-color: $light-grey-assent;
  border-radius: 0rem 2rem 2rem 0rem;
  transform:translateX(-00px) ;
  padding: 3rem 0 3rem 0;
  height: 100vh;
  gap: 1rem;
}
.active {
  border-radius: 0.25rem;
  padding: 2px 8px;
  border-radius: 1rem;
  background-color: $light-purple;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  svg {
    width: 35px;
    height: 35px;
    path {
      fill: $dark-navy-blue;
    }
  }
}

.unActive {
  border-radius: 0.25rem;
  padding: 2px 8px;
  border-radius: 1rem;

  svg {
    width: 35px;
    height: 35px;
    path {
      fill: $white;
    }
  }
  &:hover {
    background-color: #7272723e;
  }
}
