@import "../../../base.scss";

.rightSideWrapper {
  @include flex(column, space-between, flex-end);
  background-color: $light-grey-assent;
  border-radius: 2rem 0rem 0rem 2rem;
  padding: 1rem;
  height: 100vh;
  width: clamp(30rem, 30.5vw, 30rem);
  overflow-y: scroll;
  min-width: 15rem;
  transition: all 600ms ease;
  opacity: 1;

  h1,
  p {
    font-family: $heading-font;
  }

  h3 {
    font-family: $heading-font;
    font-size: 1.5rem;
    text-align: start;
    color: black;
    width: 100%;
    border-radius: 0.75rem;
    padding: 0.5rem 0.75rem;
    background: white;
  }

  .sideHeading {
    display: none;
  }

  .cardContainer {
    @include flex(column, center, center);
    gap: 1rem;
  }
  .svgContainer {
    @include flex(row, center, center);
    padding-right: 1rem;
  }
}

img {
  opacity: 0;
}

.baseClass {
  @include flex(row, center, center);
  transition: all 200ms ease-in-out;
  border-radius: 1rem;
  padding: 0.75rem;
  min-width: 20rem;

  section:nth-of-type(1) {
    flex: 1;
  }
  section:nth-of-type(2) {
    flex: 3;
  }

  &:nth-of-type(1) {
    background-color: $light-pink;
  }
  &:nth-of-type(2) {
    background-color: $light-blue;
  }
  &:nth-of-type(3) {
    background-color: $light-yellow;
  }
  &:nth-of-type(4) {
    background-color: $light-green;
  }

  svg {
    width: 60px;
    height: 60px;
    path {
      fill: $dark-navy-blue;
    }
  }

  &:hover {
    img {
      opacity: 1;
    }
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  }
}

.skeletonLoader {
  text-align: center;
  width: 100%;
  border-radius: 0.8rem;
  border-radius: 0.75rem;
  padding: 0.5rem 0.75rem;
  animation: skelly 600ms infinite alternate;
}

.isActive {
  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4) {
    background-color: $light-purple;
  }
}

.bottomContainer {
  @include flex(row, space-between, center);
  width: 100%;

  .profileContainer {
    @include flex(row, center, center);
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 1.5rem;
    background-color: #f0efeb;
    overflow: hidden;

    .profile {
      opacity: 1;
      height: 2.75rem;
      width: 2.75rem;
      border-radius: 1.5rem;
      cursor: pointer;
    }
    .userLoginState {
      width: 8px;
      height: 8px;
      align-self: flex-start;
      border-radius: 1rem;
    }
  }
  .profileLoading{
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 1.5rem;
    overflow: hidden;
    animation: skelly 600ms infinite alternate;
  }

  section {
    @include flex(row, space-evenly, center);
    gap: 1rem;

    svg {
      width: 2.8rem;
      height: 2.8rem;
      background-color: #f0efeb;
      border-radius: 50%;
      padding: 0.2rem;
      path {
        fill: $light-grey-assent;
      }
    }
  }

  .buttonContainer {
    gap: 0.75rem;
    button {
      @include flex(row, space-evenly, center);
      padding: 0.25rem 2rem;
      gap: 0.5rem;
      border-radius: 0.6rem;
      border: 0px;
      transition: all 200ms linear;
      
      &:hover {
        background-color: #f3ccff;
        color: black;
        border-radius: 0.9rem;
        cursor: pointer;
      }

      p {
        font-size: 1rem;
      }
      svg {
        width: 30px;
        height: 30px;
      }
    }
    .disabled{
      background-color: #F3CCFF;
      color: black;
      pointer-events: none;
    }
  }
}

// -----------------MEDIA-----------------

@media (max-width: $LAPTOP) {
  .rightSideWrapper {
    .baseClass {
      padding: 0.5rem;
    }
  }
}

@media (max-width: $TABLET) {
  .baseClass {
    svg {
      width: 50px;
      height: 50px;
    }
  }
}

@media (max-width: $SCREENS) {
  .rightSideWrapper {
    position: absolute;
    max-width: 35em;
    padding: 1rem;
    right: 0rem;
    opacity: 0;

    .sideHeading {
      display: block;
      align-self: flex-start;
      padding: 1rem;
      width: 100%;
      background-color: white;
      border-radius: 1rem;
      font-size: 1.5rem;
    }
    .isActive {
      &:nth-of-type(1) {
        background-color: $light-pink;
      }
      &:nth-of-type(2) {
        background-color: $light-blue;
      }
      &:nth-of-type(3) {
        background-color: $light-yellow;
      }
      &:nth-of-type(4) {
        background-color: $light-green;
      }
    }
    
  }
}

@media (max-width: $MOBILE) {
  .rightSideWrapper {
    position: absolute;
    max-width: 100%;
    padding: 1rem;

    .sideHeading {
      padding: 0.1rem;
      border-radius: 1rem;
      font-size: 1.5rem;
    }
  }
}

// -----------------USER-CLASSES---------------

.sideBarOpen {
  animation: sideBarOpen 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 1;
  opacity: 1;
}
.sideBarClose {
  animation: sideBarClose 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 1;
}
.sidebarVisibility{
  visibility: hidden;
}

// ---------------KEYFRAMES-------------------


@keyframes sideBarOpen {
  0% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sideBarClose {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes skelly {
  $first-color: #ffffff;
  $second-color: #b8b8b8;
  0% {
    background-color: $first-color;
    color: $first-color;
  }
  100% {
    background-color: $second-color;
    color: $second-color;
  }
}
