@import "../../../base.scss";

.rightSideWrapper {
  @include flex(column, space-between, flex-end);
  background-color: $light-grey-assent;
  border-radius: 2rem 0rem 0rem 2rem;
  padding: 1rem;
  height: 100vh;
  width: clamp(30rem, 30.5vw, 30rem);
  overflow-y: scroll;
  min-width: 15rem;
  transition: all 600ms ease;

  h1,
  p {
    font-family: $heading-font;
  }

  h3 {
    font-family: $heading-font;
    font-size: 1.5rem;
    text-align: start;
    width: 100%;
    border-radius: 0.75rem;
    color: black;
    padding: 0.5rem 0.75rem;
    background-size: 300% !important;
    background: $userGradient;
    animation: name 10s infinite alternate;
  }

  .sideHeading {
    display: none;
  }

  .cardContainer {
    @include flex(column, center, center);
    gap: 1.25rem;
  }
  .svgContainer {
    @include flex(row, center, center);
    padding-right: 1rem;
  }
}

img {
  opacity: 0;
}

.baseClass {
  @include flex(row, center, center);
  transition: all 200ms ease-in-out;
  border-radius: 1rem;
  padding: 0.75rem;
  min-width: 20rem;

  section:nth-of-type(1) {
    flex: 1;
  }
  section:nth-of-type(2) {
    flex: 3;
  }

  &:nth-of-type(1) {
    background-color: $light-pink;
  }
  &:nth-of-type(2) {
    background-color: $light-blue;
  }
  &:nth-of-type(3) {
    background-color: $light-yellow;
  }
  &:nth-of-type(4) {
    background-color: $light-green;
  }

  svg {
    width: 60px;
    height: 60px;
    path {
      fill: $dark-navy-blue;
    }
  }

  &:hover {
    img {
      opacity: 1;
    }
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  }
}

.isActive {
  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4) {
    background-color: $light-purple;
  }
}

.bottomContainer {
  @include flex(row, space-between, center);
  width: 100%;

  .profileContainer {
    @include flex(row, center, center);
    height: 3.5rem;
    .profile {
      opacity: 1;
      height: 2.75rem;
      width: 2.75rem;
      border-radius: 1.5rem;
      cursor: pointer;
    }
    .userLoginState {
      width: 8px;
      height: 8px;
      align-self: flex-start;
      border-radius: 1rem;
    }
    .green {
      background-color: $sucsess;
    }
    .red {
      background-color: $warning;
    }
  }

  section {
    @include flex(row, space-evenly, center);
    gap: 1rem;

    svg {
      width: 2.8rem;
      height: 2.8rem;
      background-color: #f0efeb;
      border-radius: 50%;
      padding: 0.2rem;
      path {
        fill: $light-grey-assent;
      }
    }
  }

  .buttonContainer {
    gap: 0.75rem;
    button {
      @include flex(row, space-evenly, center);
      padding: 0.25rem 0.5rem;
      gap: 0.5rem;
      border-radius: 1rem;

      p {
        font-size: 1rem;
      }
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

// -----------------MEDIA-----------------

@media (max-width: $LAPTOP) {
  .rightSideWrapper {
    .baseClass {
      padding: 0.5rem;
    }
  }
}

@media (max-width: $TABLET) {
  .baseClass {
    svg {
      width: 50px;
      height: 50px;
    }
  }
}

@media (max-width: $SCREENS) {
  .rightSideWrapper {
    position: absolute;
    max-width: 35em;
    padding: 1rem;

    .sideHeading {
      display: block;
      align-self: flex-start;
      padding: 1rem;
      width: 100%;
      background-color: white;
      border-radius: 1rem;
      font-size: 1.5rem;
    }
  }
}

@media (max-width: $MOBILE) {
  .rightSideWrapper {
    position: absolute;
    max-width: 100%;
    padding: 1rem;

    .sideHeading {
      padding: 0.1rem;
      border-radius: 1rem;
      font-size: 1.5rem;
    }
  }
}

// -----------------USER-CLASSES---------------

.sideBarOpen {
  right: 0rem;
}
.sideBarClose {
  right: -40rem;
}

// ---------------KEYFRAMES-------------------

@keyframes name {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
