* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 0px;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background-color: #101010;
}
*:focus {
  outline: none;
}
::selection {
  color: black;
  background-color: yellow;
}

.loading {
  opacity: 0.5;
  border-radius: 0.8rem;
  background-color: #ebeaea;
  animation: skelly 600ms infinite alternate;
}
.notLoading {
  background: transparent;
}

.text-loading {
  width: 100%;
  height: clamp(2.25rem, 4.5vw, 4rem);
  border-radius: 0.5rem;
  animation: skelly 600ms infinite alternate;
}

.heading-loading{
  height: 20rem;
  width: 6rem;
  border-radius: 0.75rem;
  animation: skelly 600ms infinite alternate;
}

@keyframes skelly {
  0% {
    background-color: #414345;
    color: #414345;
  }
  100% {
    background-color: #414345be;
    color: #414345be;
  }
}
