@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background-color: #101010;
}
*:focus {
  outline: none;
}
