@import "../../../base.scss";

.FaceComponent {
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

// --------------MEDIA-------------

@media (max-width: $SCREENS){
  .FaceComponent{
    border-radius: 0rem;
  }
}
