@import "../../../base.scss";

.forefrount {
  background: $dark-grey-assent;
  background: $gradient;
  border-radius: $border-radius;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
  height: 95vh;

  .headingSection {
    @include flex(column, center, flex-start);
    padding: 3rem;
    padding-bottom: 0;
    color: white;

    p {
      font-family: $thin-font;
      font-size: $big-secondary-heading-size;
      font-weight: 300;
    }
    h1 {
      font-family: $heading-font;
      font-size: $big-main-heading-size;
    }
  }

  .dotContainer {
    @include flex(row, space-between, center);
    padding: 0rem 5rem;
    color: white;
    font-size: 1.15rem;
    font-family: $heading-font;
  }

  .imageWrapper {
    @include flex(row, center, center);
    padding: 2rem 5rem;

    .singleDotContainer {
      flex: 1;
      align-self: flex-end;
      color: white;
      font-family: $heading-font;
      font-size: 1.25rem;
    }

    .imageContainer {
      @include flex(column, center, space-evenly);
      gap: 1.75rem;
      flex: 4;

      div {
        @include flex(row, flex-end, center);
        gap: 1.75rem;
      }

      img {
        width: 80px;
        height: 80px;
      }
    }
  }
  img {
    opacity: 1;
  }
}

.sectionTwo {
  @include flex(row, space-between, center);
  padding: 1rem 6rem 1rem 4rem;
  background: $gradient;

  .textContainer {
    @include flex(column, flex-start, flex-start);
    color: white;
    gap: 4rem;

    section:nth-of-type(1) {
      flex: 3;
      p {
        font-size: $small-secondary-heading-size;
        font-family: $thin-font;
        font-weight: 300;
        margin-bottom: 1rem;
      }
      h1 {
        font-family: $heading-font;
        font-size: $small-main-heading-size;
        line-height: 6rem;
      }
    }

    section:nth-of-type(2) {
      @include flex(column, flex-start, flex-start);
      flex: 1;
      gap: 1rem;

      p {
        font-family: $thin-font;
        max-width: 10rem;
        font-size: 1.05rem;
      }
    }
  }

  svg {
    width: 100px;
    height: 921px;
  }
}

.borderRadius{
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
