@import "../../../base.scss";

.forefrount {
  @include flex(column, space-evenly, flex-start);
  background: $dark-grey-assent;
  background: $gradient;
  border-radius: $border-radius;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
  height: 95vh;
  animation: onMount 1500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;

  .headingSection {
    @include flex(column, center, flex-start);
    padding: clamp(1.75rem, 3.5vw, 3rem);
    padding-bottom: 0;
    color: white;

    p {
      font-family: $thin-font;
      font-size: $big-secondary-heading-size;
      font-weight: 300;
    }
    h1 {
      font-family: $heading-font;
      font-size: clamp(4.35rem, 9.5vw, 9rem);
    }
  }

  .dotContainer {
    @include flex(row, space-between, center);
    padding: 0rem clamp(3.25rem, 6.5vw, 6rem);
    color: white;
    font-size: 1.15rem;
    font-family: $heading-font;
    width: 100%;
  }

  .imageWrapper {
    @include flex(row, center, center);
    width: 100%;
    padding: 2rem clamp(3.25rem, 6.5vw, 6rem);

    .singleDotContainer {
      flex: 1;
      align-self: flex-end;
      color: white;
      font-family: $heading-font;
      font-size: 1.25rem;
    }

    .imageContainer {
      @include flex(column, center, flex-end);
      gap: 1.75rem;
      flex: 4;

      div {
        @include flex(row, flex-end, center);
        gap: 1.75rem;
      }

      img {
        width: 80px;
        height: 80px;
      }
    }
  }
  img {
    opacity: 1;
  }
}

.sectionTwo {
  @include flex(row, space-between, center);
  padding: 1rem clamp(2.25rem, 5.5vw, 5rem);
  background: $gradient;

  .textContainer {
    @include flex(column, flex-start, flex-start);
    color: white;
    gap: 4rem;

    section:nth-of-type(1) {
      flex: 3;
      h1 {
        font-family: $heading-font;
        font-size: clamp(3.5rem, 7vw, 6.5rem);
        line-height: clamp(3.25rem, 6.5vw, 6rem);
      }
      p {
        font-size: clamp(1.125rem, 2.25vw, 1.75rem);
        font-family: $thin-font;
        font-weight: 300;
        margin-bottom: 1rem;
      }
    }

    section:nth-of-type(2) {
      @include flex(column, flex-start, flex-start);
      flex: 1;
      gap: 1rem;

      p {
        font-family: $thin-font;
        max-width: 10rem;
        font-size: 1.05rem;
      }
    }
  }

  svg {
    width: clamp(3.35rem, 6.75vw, 6.25rem);
    height: clamp(29rem, 58vw, 57.5rem);
  }
}

.borderRadius {
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

// ------------------------MEDIA---------------------

@media (max-width: $LAPTOP) {
  .forefrount {
    .headingSection {
      padding: clamp(1.25rem, 2.5vw, 2rem);
      h1 {
        font-size: clamp(4.25rem, 8.5vw, 8rem);
      }
    }
  }

  .sectionTwo {
    padding: 1rem clamp(2rem, 4vw, 3.5rem);
  }
}

@media (max-width: $TABLET) {
  .forefrount {
    height: 100vh;
    .imageWrapper {
      .singleDotContainer {
        display: none;
      }
    }
  }
}

@media (max-width: $SCREENS) {
  .forefrount {
    padding: clamp(1.5rem, 3vw, 2.5rem);
  }

  .sectionTwo {
    padding: 1rem clamp(3rem, 6vw, 5.5rem);
  }
}

@media (max-width: $MOBILE) {
  .forefrount {
    padding: 1rem;
    align-items: center;

    .headingSection {
      padding: 0rem;
    }
  }
  .sectionTwo {
    padding: 1rem 2rem;
  }
}

// ONMOUNT-------------------------
@keyframes onMount {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
