@import "../../../base.scss";

.main {
  @include flex(row, space-evenly, center);
  width: 100%;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  background-color: black;

  .container {
    position: relative;
    .textContainer {
      padding: 2rem;
      p {
        line-height: clamp(6.25rem, 12.5vw, 12rem);
        font-size: clamp(7.75rem, 15.5vw, 15rem);
        font-family: $fat-font;
        font-weight: 800;
        letter-spacing: 1rem;
      }
      p:nth-of-type(1) {
        color: #ebeaea;
      }
      p:nth-of-type(2),
      p:nth-of-type(3),
      p:nth-of-type(4) {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #ebeaeae2;
      }
    }
    img {
      width: clamp(23rem, 46vw, 45.5rem);
      height: clamp(23rem, 46vw, 45.5rem);
      opacity: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      animation: astro 3s linear infinite both;
    }
    @keyframes astro {
      0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      33% {
        -webkit-transform: translateY(-0.5rem);
        transform: translateY(-0.5rem);
      }
      66% {
        -webkit-transform: translateY(0.5rem);
        transform: translateY(0.5rem);
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }

  aside {
    @include flex(column, space-between, center);
    color: #ebeaea;

    section {
      writing-mode: vertical-lr;
      margin-bottom: 5rem;
      h1 {
        font-family: $fat-font;
        font-size: 2rem;
      }
      p {
        font-family: $heading-font;
        font-weight: 600;
        font-size: 1.25rem;
      }
    }

    div {
      width: 2rem;
      height: 15rem;
      border: 1px solid #ebeaea;
    }
  }
}

.earthSection {
  @include flex(column, space-around, center);
  position: relative;
  background: $gradient;
  color: white;
  height: 95vh;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;

  div {
    width: 100%;
    padding: 1rem;
    @include flex(row, space-between, center);

    h1 {
      font-family: $heading-font;
      font-size: clamp(1.75rem, 3.5vw, 3rem);
      max-width: 15rem;
      line-height: clamp(1.75rem, 3.5vw, 3rem);
    }
    p {
      font-family: $heading-font;
      text-transform: capitalize;
      max-width: 10rem;
    }
  }
  div:nth-of-type(1) {
    position: absolute;
    top: 1rem;
  }
  div:nth-of-type(2) {
    @include flex(row, center, center);
  }
  div:nth-of-type(3) {
    position: absolute;
    bottom: 1rem;
  }
  img {
    opacity: 1;
    width: clamp(15.875rem, 33vw, 31.25rem);
    height: clamp(15.875rem, 33vw, 31.25rem);
  }
}

.firstPhotoSection {
  @include flex(row, space-evenly, center);
  background: $gradient;
  color: white;
  padding-block: clamp(2.25rem, 5.5vw, 5rem);

  img {
    width: clamp(17.875rem, 35.75vw, 35.25rem);
    height: clamp(12.75rem, 25.5vw, 25rem);
    opacity: 1;
    border-radius: 1.15rem;
  }
  p {
    max-width: 20rem;
    font-family: $heading-font;
  }
}
.secondPhotoSection {
  @include flex(row, space-evenly, center);
  background: $gradient;
  color: white;
  padding-block: clamp(2.25rem, 5.5vw, 5rem);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;

  img {
    width: 400px;
    height: 548px;
    opacity: 1;
    border-radius: 1.5rem;
  }
  p {
    max-width: 20rem;
    font-family: $heading-font;
    font-size: 1.15rem;
  }
}

// --------------------MEDIA---------------------

@media (max-width: $LAPTOP) {
  .main {
    @include flex(column, center, center);
    .container {
      .textContainer {
        padding-top: 3rem;
      }
    }

    aside {
      @include flex(row, space-between, flex-start);
      width: 100%;
      padding: 2rem;
      padding-bottom: 0;

      section {
        writing-mode: horizontal-tb;
      }

      div {
        height: 4rem;
        border-radius: 0.5rem;
      }
    }
  }

  .earthSection {
    div {
      h1 {
        max-width: 10rem;
      }
    }
    div:nth-of-type(1),
    div:nth-of-type(3) {
      position: relative;
    }
  }

  .firstPhotoSection {
    @include flex(column-reverse, center, flex-start);
    padding: 1rem;
    gap: 1rem;
    img {
      width: 100%;
      height: auto;
      border-radius: 1rem;
    }
    p {
      background-color: $light-grey-assent;
      max-width: 100%;
      padding: 1rem;
      border-radius: 1rem;
    }
  }

  .secondPhotoSection {
    @include flex(column, center, flex-start);
    padding: 1rem;
    gap: 1rem;

    p {
      background-color: $light-grey-assent;
      border-radius: 1rem;
      padding: 1rem;
      max-width: 100%;
    }

    img {
      border-radius: 1.5rem;
    }
  }
}

@media (max-width: $TABLET) {
  .main {
    justify-content: space-evenly;
    height: 100vh;
    padding: 0.5rem;

    .container {
      .textContainer {
        padding: 0rem;
      }
    }

    aside {
      justify-content: space-between;
      align-items: center;
    }
  }

  .earthSection {
    div {
      h1 {
        max-width: 5rem;
      }
    }
  }

  .secondPhotoSection {
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: $SCREENS) {
  .main {
    justify-content: center;
    align-items: center;
    .container {
      .textContainer {
        p {
          line-height: 8rem;
          font-size: 10rem;
        }
      }
    }
    aside {
      padding: 1rem;
      padding-top: 3rem;
    }
  }

  .earthSection {
    img {
      width: 25rem;
      height: 25rem;
    }
  }
}

@media (max-width: $MOBILE) {
  .main {
    justify-content: space-evenly;
    .container {
      .textContainer {
        p {
          line-height: 7rem;
          font-size: 9rem;
        }
      }
    }
  }
}
