@import "../../../base.scss";
.datePicker {
  border: none;
  font-size: 1rem;
  color: white;
  background: transparent;
  font-family: $heading-font;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-weight: 600;
  padding: 0.35rem 0.5rem;
  border-radius: 0.5rem;
  background-color: $light-grey-assent;
}

input[type="date" i]::-webkit-calendar-picker-indicator {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/cosmosis-ff4d9.appspot.com/o/calender.webp?alt=media&token=25a326c1-6515-41a8-9890-6f03ee5c8559");
  width: 19px;
  height: 19px;
  cursor : pointer;
}

.borderRadius{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}


// ------------MEDIA-------------
@media (max-width: $SCREENS){
  .borderRadius{
    border-radius: 0rem;
  }
}