@import "../../../base.scss";

.button {
  padding: 0.75rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-family: satoshi;
  border: 0;
  color: $dark-navy-blue;
  cursor: pointer; 
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    background-color: $light-purple;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
          rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
}
