@import '../../../base.scss';

.cardContent {
  @include flex(column, center, space-between);
  flex: 3;
  gap: 0.2rem;

  .headingContainer {
    @include flex(row, space-between, center);
    padding-right: 1rem;

    h1 {
      font-family: $heading-font;
      font-size: 1.1rem;
    }
    p {
      font-family: $thin-font;
      font-size: 0.975rem;
    }
  }
}
