@import "../../../base.scss";

.faceContainer {
  @include flex(column, flex-start, flex-start);
  color: white;
  background: $gradient;
  padding: 4rem;
  gap: 2rem;

  section:nth-of-type(1) {
     max-width: 20rem;
    p {
      font-size: $small-secondary-heading-size;
      font-family: $thin-font;
      font-weight: 300;
      margin-bottom: 1rem;
    }
    h1 {
      font-family: $heading-font;
      font-size: $small-main-heading-size;
      line-height: 6rem;
    }
  }

  section:nth-of-type(2) {
    @include flex(row, space-between, center);
    width: 100%;

    div:nth-of-type(1) {
      @include flex(column, flex-start, flex-start);
      gap: 1rem;
      align-self: flex-end;
      p {
        font-family: $thin-font;
        max-width: 10rem;
        font-size: 1.05rem;
      }
    }

    div:nth-of-type(2) {
      padding-right: 3rem;
      padding-left: 3rem;
      img {
        opacity: 1;
        width: 350px;
        height: 350px;
      }
    }
  }
}
