@import "../../../base.scss";

.faceContainer {
  @include flex(column, flex-start, flex-start);
  color: white;
  background: $gradient;
  padding: clamp(2.25rem, 4.5vw, 4rem);
  gap: 2rem;
  animation: $onMount;

  section:nth-of-type(1) {
    max-width: 20rem;
    p {
      font-size: $small-secondary-heading-size;
      font-family: $thin-font;
      font-weight: 300;
      margin-bottom: 1rem;
    }
    h1 {
      font-family: $heading-font;
      font-size: $small-main-heading-size;
      line-height: clamp(3.25rem, 6.5vw, 6rem);
    }
  }

  section:nth-of-type(2) {
    @include flex(row, space-between, center);
    width: 100%;

    div:nth-of-type(1) {
      @include flex(column, flex-start, flex-start);
      gap: 1rem;
      align-self: flex-end;
      p {
        font-family: $thin-font;
        max-width: 10rem;
        font-size: 1.05rem;
      }
    }

    div:nth-of-type(2) {
      padding: 0 clamp(1.25rem, 3.5vh, 3rem);
      img {
        opacity: 1;
        width: clamp(11.1875rem, 22.375vw, 21.875rem);
        height: clamp(11.1875rem, 22.375vw, 21.875rem);
      }
    }
  }
}

// ------------------------MEADIA----------------------

@media (max-width: $LAPTOP) {
  .faceContainer {
    padding: clamp(1.75rem, 2.5vw, 2rem);

    section:nth-of-type(2) {
      div:nth-of-type(2) {
        padding: 0;
      }
    }
  }
}

@media (max-width: $TABLET) {
  .faceContainer {
    height: 100vh;
    padding: clamp(1rem, 2vw, 1.5rem);
    justify-content: space-evenly;

    section:nth-of-type(1) {
      h1 {
        width: 5rem;
      }
    }
  }
}

@media (max-width: $SCREENS) {
  .faceContainer {
    height: 100%;
    padding: 2rem;
    justify-content: flex-start;

    section:nth-of-type(1) {
      h1 {
        width: 5rem;
      }
    }
  }
}

@media (max-width: $MOBILE) {
  .faceContainer {
  gap: 3.25rem;
    padding: 1rem;
    justify-content: space-evenly;

    section:nth-of-type(1) {
      h1 {
        width: 5rem;
      }
    }
  }
}

// ONMOUNT-------------------------
@keyframes onMount {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}