@import "../../../base.scss";

.feature {
  @include flex(row, space-around, center);
  background: $gradient;
  padding: 3rem;

  div:nth-of-type(1) {
    @include flex(column, flex-start, flex-start);
    color: white;
    width: clamp(17.75rem, 35.5vw, 35rem);
    padding: 2rem;
    gap: 2rem;
    border-left: 2px solid white;

    p {
      font-family: $heading-font;
      font-size: 1.2rem;
      text-align: left;
    }
    .link {
      @include flex(row, flex-start, center);
      gap: 1rem;
      color: white;
      font-family: $heading-font;
      font-size: 1.1rem;

      svg {
        transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
      }

      &:hover {
        color: $light-pink;

        svg {
          line {
            stroke: $light-pink;
          }
          transform: translateX(20px);
        }
      }
      img {
        opacity: 1;
      }
    }
  }
  div:nth-of-type(2) {
    @include flex(row, center, center);
    h1 {
      font-size: $small-main-heading-size;
      color: white;
      writing-mode: vertical-lr;
      font-family: $heading-font;
    }
  }
  &:hover {
    div:nth-of-type(1) {
      border-color: $light-pink;
    }
    div:nth-of-type(2) {
      h1 {
        color: $light-pink;
      }
    }
  }
}

// -------------------MEDIA----------------------

@media (max-width: $LAPTOP) {
  .feature {
    padding: 2rem 1.5rem;

    div:nth-of-type(1) {
      padding: 1rem;

      .link {
        svg {
          width: 100px;
          height: 10px;
        }
      }
    }
  }
}

@media (max-width: $TABLET){
  .feature{
    padding: 2rem 0.5rem;
  }
}

@media (max-width: $SCREENS){
  .feature{
   padding: 3rem 2.25rem; 

   div:nth-of-type(1){
    padding: 1.25rem;
   }
  }
}

@media (max-width: $MOBILE){
  .feature{
   padding: 3rem 0.25rem; 

   div:nth-of-type(1){
    padding: 1.25rem;
   }
  }
}
