@import "../../../base.scss";

.modalWrapper {
  @include flex(row, center, center);
  width: 100%;
  border-radius: 0rem;
  background-color: #ff5050;
  padding: 0.5rem 10rem;
  color: white;
  bottom: 0rem;
  position: absolute;
  z-index: 100;
  font-family: $heading-font;

  section {
    @include flex(row, space-between, center);
    width: clamp(30.25rem, 60.5vw, 60rem);

    h1 {
      font-size: clamp(1rem, 2vw, 1.5rem);
    }
    p {
      font-size: clamp(.75rem, 1.5vw, 1rem);
    }
  }

  .button {
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    font-size: clamp(.80rem, 1.65vw, 1.15rem);
    color: black;
    background-color: white;
    border: 0px;
    cursor: pointer;
    font-weight: 700;
    font-family: $heading-font;

    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      background-color: rgb(238, 238, 238);
    }
  }
}
